
.Card {
    border: 1px solid black;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    border-radius: 6px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    position: relative;
    color: black;
}
.img-container {
    background-color: white;
}
.imgBanner {
    background-color: white;
}